#ieBlocker {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    align-items: center;
    background: #000;
    color: #fff;
    z-index: 4999;
    text-align: center;
    overflow: hidden;
}

#ieBlocker div {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

#ieBlocker h1 {
    font-size: 6rem;
}

#ieBlocker a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}