@media (min-width: 1080px) {
   html {
      font-size: 18px;
   }
}

@media (max-width: 1080px) {
   html {
      font-size: 16px;
   }
}

@media (max-width: 768px) {
   html {
      font-size: 14px;
   }
}

@media (max-width: 400px) {
   html {
      font-size: 16px;
   }
}

html {
   --primary_color: #000;
   --secondary_color: #fff;
   --offwhite_color: #e9e9ed;
   --radius: .4rem;
   --gradient_size: 10rem;
   --square_selector_size: 1px;
   --color_picker_padding: calc(var(--square_selector_size) * 2 + (var(--square_selector_size) / 2));
   --brightness_level_slider_color: #fff;
}

* {
   font-family: 'poppins', sans-serif, serif, monospace;
   border: 0;
   margin: 0;
   padding: 0;
   user-select: none;
}

li {
   list-style-type: none;
}

body {
   display: grid;
   grid-template-columns: 16rem 1fr;
   color: var(--secondary_color);
}

main {
   grid-area: 1 / 2 / 2 / 2;
   background: var(--secondary_color);
   height: 100%;
}

main * {
   color: var(--primary_color);
}

input, button {
   font-size: .9rem;
}

.no_outline:focus {
   outline: none;
}

input {
   background: var(--offwhite_color);
   color: var(--primary_color);
   border-radius: var(--radius);
}

*:focus {
   outline: rgb(0, 110, 255) dashed .15rem;
}

button:hover {
   box-shadow: rgba(0, 0, 0, .2) 0 0 .1rem 1rem inset;
}

h1 {
   text-align: center;
}

.medium_input_width {
   width: 6rem;
}

.cool_pad {
   padding: 0 .3rem 0 .3rem;
   border-radius: var(--radius);
}

/* .inputAnim {
   transition: width .09s cubic-bezier(.175, .885, .32, 1.275);
}

.inputAnim:focus {
   width: 8rem;
   transition: width .09s cubic-bezier(.175, .885, .32, 1.275);
} */

#h_slider_wrapper {
   margin-top: 1rem;
}

#h_slider {
   outline: none;
   overflow: visible;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 12rem;
   height: .75rem;
   border: .15rem solid #fff;
   border-radius: var(--radius);
   background: linear-gradient(90deg, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
   cursor: grab;
   cursor: -moz-grab;
   cursor: -webkit-grab;
}

#h_slider:active {
   cursor: grabbing;
   cursor: -webkit-grabbing;
   cursor: -moz-grabbing;
}

#h_slider::-webkit-slider-thumb {
   appearance: none;
   -webkit-appearance: none;
   background: #fff;
   height: 1.3rem;
   width: .4rem;
   border-radius: .1rem;
}

#h_slider::-moz-range-thumb {
   appearance: none;
   -moz-appearance: none;
   background: #fff;
   border: 0px;
   height: 1.3rem;
   width: .4rem;
   border-radius: .1rem;
}

#pleaseHelpHowDoINameThisHahaFunnyNumbersUnderHSldierQuestionmARK {
   width: 12.3rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

#pleaseHelpHowDoINameThisHahaFunnyNumbersUnderHSldierQuestionmARK:first-child {
   margin-left: .15rem;
}

#pleaseHelpHowDoINameThisHahaFunnyNumbersUnderHSldierQuestionmARK:last-child {
   margin-right: .15rem;
}

#top {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
}

#settings_p1 {
   border-radius: calc(var(--radius) * 2) calc(var(--radius) * 2) 0 0;
   box-shadow: rgba(0, 0, 0, .8) .275rem .275rem 0 .001rem;
}

#settings_p2 {
   border-radius: 0 0 calc(var(--radius) * 2) calc(var(--radius) * 2);
   box-shadow: rgba(0, 0, 0, .8) .275rem .275rem 0 .001rem;
}

.settings_page {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: .4rem .5rem;
   background: #ddd;
}

#layout_type_selection label {
   margin: .275rem 0;
}

#layout_type_selection label:last-of-type {
   margin: .1rem 0;
}

.setting {
   padding: .2rem .4rem;
   margin: .25rem;
   width: 10.4rem;
   font-size: .85rem;
   border-radius: var(--radius);
   background: #808080;
   box-shadow: rgba(0, 0, 0, .8) .275rem .275rem 0 .001rem;
   text-align: center;
   overflow: hidden;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
}

.setting * {
   display: inline-block;
   color: var(--secondary_color);
}

.setting > input {
   color: var(--primary_color);
}

.change_color_button {
   display: none;
}

#ff0 {
   background: #ff0;
   color: #000;
   border-radius: .25rem;
   margin: 0 .1rem;
   padding: 0 .15rem;
   font-family: monospace;
}

#brightness_level_slider {
   background: none;
}

#brightness_level_slider::-moz-range-track {
   background: #000;
}

#brightness_level_slider::-moz-range-progress {
   background: #fff;
}

#brightness_level_slider::-moz-range-thumb {
   background: var(--brightness_level_slider_color);
   appearance: none;
   -moz-appearance: none;
   border: 0px;
   height: 1rem;
   width: .6rem;
   border-radius: .25rem;
}

#led_input_box {
   display: flex;
   align-content: center;
   justify-content: center;
}

#submit_button {
   padding: .1rem .3rem;
   margin: 0 0 0 .1rem;
   border-radius: var(--radius);
}

.color_input {
   display: flex;
   width: 10rem;
   margin: .25rem 0;
}

.color_input * {
   display: inline-block;
}

#change_all_colors {
   background: #ff0000;
   color: #fff;
}

#go_random_wrapper {
   display: inline-flex;
}

#go_random_checkbox_label {
   font-size: .8rem;
}

#go_random {
   animation: rainbow 4.5s linear infinite forwards;
   background: linear-gradient(45deg, rgba(255,0,0,1) 20%, rgba(0,252,255,1) 46%, rgba(255,0,255,1) 68%, rgba(255,0,0,1) 87%); 
   background-size: 650%;
}

#go_random_text {
   text-shadow: 1px 1px 3px #000;
   font-size: .8rem;
   color: #fff;
}

@keyframes rainbow {
   0% {
      background-position: 0% 100%;
   }
   50% {
      background-position: 50% 50%;
   }
   100% {
      background-position: 100% 0%;
   }
}

#hex_input_wrapper {
   display: flex;
   background: var(--offwhite_color);
   border-radius: var(--radius);
}

#hex_hash {
   color: var(--primary_color);
   padding: 0 .2rem 0 .2rem;
}

.rgb_inputs {
   display: flex;
   background: var(--offwhite_color);
   color: var(--primary_color);
   border-radius: var(--radius);
}

.rgb_inputs input {
   width: 2ch;
}

.rgb_input {
   width: 2rem;
   font-family: monospace;
   font-size: .95rem;
   margin-left: .5rem;
   margin-right: .125rem;
}

#r_input {
   margin-left: 0;
}

#b_input {
   margin-right: 0;
}

#colors {
   grid-area: 1 / 1 / 2 / 3;
   background: var(--primary_color);
   height: 100%;
   position: fixed;
   z-index: 420;
   width: 16rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

#colors_center {
   display: flex;
   align-items: center;
   flex-direction: column;
}

#numbers {
   display: flex;
   justify-content: space-between;
}

#color_picker {
   text-align: center;
}

#gradients_wrapper {
   width: calc(var(--gradient_size) + 1rem);
   height: calc(var(--gradient_size) + 1rem);
   display: flex;
   cursor: crosshair;
   justify-content: center;
   align-items: center;
}

#gradients {
   width: var(--gradient_size);
   height: var(--gradient_size);
   z-index: 1003;
}

.gradient_part {
   width: var(--gradient_size);
   height: var(--gradient_size);
   position: absolute;
}

#square_selector {
   position: relative;
   z-index: 1004;
   left: 5rem;
   top: 5rem;
   width: var(--square_selector_size);
   height: var(--square_selector_size);
   background: #fff;
   border: #000 solid 1px;
}

#white_gradient {
   background: linear-gradient(90deg, #fff 0%, rgba(0, 0, 0, 0) 100%);
   z-index: 1001;
}

#black_gradient {
   background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
   z-index: 1002;
}

#gradient_color {
   background: #00ffff;
}

#gradients_border {
   width: calc(var(--gradient_size) + 1.5rem);
   height: calc(var(--gradient_size) + 1.5rem);
   margin-top: calc(var(--square_selector_size) * 2 + (var(--square_selector_size) / 2));
   position: absolute;
   background: #408080;
   z-index: 1000;
}

#led_matrix_wrapper {
   display: none;
   overflow: auto;
   background: #ff0000;
}

#testWrapper {
   display: block;
   background: #ff0;
}

#led_matrix {
   display: grid;
   grid-template-columns: 3fr;
   grid-template-rows: 3fr;
   gap: .25rem;
   background: var(--primary_color);
   padding: .25rem;
}

.led_box_wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.led_box {
   background: #fff;
   width: 2rem;
   height: 2rem;
   font-size: .75rem;
   color: #000;
   text-align: center;
   line-height: 2rem;
   user-select: none;
}

code {
   display: none;
   overflow: hidden;
   height: 10rem;
   width: 25rem;
   border-radius: var(--radius);
}

#code_final_wrapper {
   display: flex;
   justify-content: center;
   height: 10rem;
   width: 25rem;
   border-radius: .5rem;
   overflow-y: auto;
}

#code_final {
   user-select: text;
   font-size: 1.5rem;
   white-space: pre;
   color: var(--primary_color);
}

#copy_code {
   width: 25rem;
   height: 10rem;
   position: absolute;
}

#copy_code_background {
   cursor: grab;
   z-index: 2;
   position: absolute;
   width: 100%;
   height: 100%;
   background: rgba(31, 31, 31, .75);
   border-radius: .5rem;
}

#copy_code_minimize {
   z-index: 4;
   position: relative;
   cursor: pointer;
   left: 87.5%;
   top: 10%;
   width: 2rem;
}

#copy_code_text_wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

#copy_code_text {
   color: #fff;
   font-size: 1.2rem;
   filter: drop-shadow(0px 0px 2px #000);
   z-index: 3;
}

.led_input div {
   display: inline-block;
}

.custom_radio input[type="radio"] {
   display: none;
}

.custom_radio input[type="radio"] + label {
   position: relative;
   display: flex;
   align-items: center;
   padding-left: 1.25rem;
   line-height: .95rem;
   transition: box-shadow .185s ease-in-out;
}

.custom_radio input[type="radio"] + label::before {
   content: '';
   position: absolute;
   left: 0;
   width: 1rem;
   height: 1rem;
   border: solid .1rem #000;
   border-radius: 1rem;
   transition: box-shadow .185s ease-in-out;
}

.custom_radio input[type="radio"] + label::before {
   transition: box-shadow .185s ease-in-out;
   background: var(--offwhite_color);
}

.custom_radio input[type="radio"] + label:hover::before {
   transition: box-shadow .185s ease-in-out;
}

.custom_radio input[type="radio"]:checked + label::before {
   transition: box-shadow .185s ease-in-out;
   box-shadow: inset 0 0 0 .2rem var(--offwhite_color), inset 0 0 0 1000rem #000;
}

#top {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

noscript {
   width: 100%;
   height: 100%;
   z-index: 5000;
   background: #000;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

noscript a {
   color: rgb(0, 101, 184);
}

noscript a:active {
   color: rgb(49, 0, 184);
}

noscript p {
   color: #fff;
}