@media (min-width: 1080px) {
   html {
      font-size: 18px;
   }
}

@media (max-width: 1080px) {
   html {
      font-size: 16px;
   }
}

@media (max-width: 768px) {
   html {
      font-size: 14px;
   }
}

@media (max-width: 400px) {
   html {
      font-size: 16px;
   }
}

html {
   background: var(--secondary_color);
   --primary_color: #fff;
   --secondary_color: #000;
   --offwhite_color: #e9e9ed;
   --code_color: rgb(150, 0, 255);
   --radius: .35rem;
   --gradient_size: 10rem;
   --selector_size: 1px;
   --color_picker_padding: calc(var(--selector_size) * 2 + (var(--selector_size) / 2));
   --brightness_level_slider_color: #fff;
   --dropdown_width: 7rem;
}

* {
   font-family: 'poppins', sans-serif, serif; /* poopins 😳 */
   border: 0;
   margin: 0;
   padding: 0;
}

li {
   list-style-type: none;
}

body {
   height: 100vh;
   display: grid;
}

main {
   background: var(--secondary_color);
   height: 100%;
   color: var(--primary_color);
   margin: auto;
}

input,
button {
   font-size: .9rem;
}

input {
   background: var(--offwhite_color);
   color: var(--secondary_color) !important;
}

input:not([type='checkbox']):focus, button:focus, select:focus {
   outline-style: solid;
   outline-color: rgb(255, 0, 160);
   outline-width: 2px;
}

input[type='text'], input[type='number'], option, select {
   font-family: 'jetbrains mono', monospace;
}

button {
   cursor: pointer;
   color: var(--secondary_color);
}

button:hover {
   box-shadow: rgba(0, 0, 0, .2) 0 0 .1rem 10000rem inset;
}

h1 {
   text-align: center;
   font-size: 3.5rem;
}

.unselectable {
   user-select: none;
}

.medium_input_width {
   width: 6rem;
}

.cool_pad {
   padding: 0 .3rem 0 .3rem;
}

#h_slider_wrapper {
   margin-top: 1rem;
   display: flex;
   align-items: center;
   flex-direction: column;
}

#h_slider {
   outline: none;
   overflow: visible;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 12rem;
   height: .75rem;
   border: .15rem solid #fff;
   border-radius: var(--radius);
   background: linear-gradient(90deg, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
   cursor: grab;
}

#h_slider:active {
   cursor: grabbing;
}

#h_slider::-webkit-slider-thumb {
   appearance: none;
   -webkit-appearance: none;
   background: #fff;
   height: 1.3rem;
   width: .4rem;
   border-radius: .1rem;
}

#h_slider::-moz-range-thumb {
   appearance: none;
   -moz-appearance: none;
   background: #fff;
   border: 0px;
   height: 1.3rem;
   width: .4rem;
   border-radius: .1rem;
}

#h_slider_wrapper > div {
   width: 12rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: .35rem;
}

#h_slider_wrapper > div:first-child {
   margin-left: .15rem;
}

#h_slider_wrapper > div:last-child {
   margin-right: .15rem;
}

#top {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.settings_page:nth-of-type(1) {
   border-radius: calc(var(--radius) * 2) calc(var(--radius) * 2) 0 0;
   box-shadow: rgba(0, 0, 0, .8) .275rem .275rem 0 .001rem;
}

.settings_page:nth-of-type(2) {
   border-radius: 0 0 calc(var(--radius) * 2) calc(var(--radius) * 2);
   box-shadow: rgba(0, 0, 0, .8) .275rem .275rem 0 .001rem;
}

.settings_page {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: .4rem .5rem;
   background: #ddd;
}

.setting label:not(.no_weight_label) {
   font-weight: 600;
}

#layout_type_selection {
   width: 7rem;
}

#layout_type_selection label {
   margin: .275rem 0;
}

#layout_type_selection label:last-of-type {
   margin: .1rem 0;
}

.setting {
   padding: .2rem .4rem;
   margin: .25rem;
   width: 10.4rem;
   font-size: .85rem;
   background: #808080;
   box-shadow: rgba(0, 0, 0, .8) .275rem .275rem 0 .001rem;
   text-align: center;
   overflow: hidden;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.setting * {
   color: var(--primary_color);
}

.extended_input {
   padding-left: .35rem;
}

.change_color_button {
   display: none;
}

#ff0 {
   background: #ff0;
   color: #000;
   border-radius: .25rem;
   margin: 0 .1rem;
   padding: 0 .15rem;
   font-family: monospace;
}

.extend_input_wrapper {
   display: flex;
   flex-direction: row;
}

.center {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#brightness_level {
   width: 5ch;
}

#brightness_level_slider {
   outline: none;
   overflow: visible;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 100%;
   margin-right: 4%;
   height: .4rem;
   border-radius: var(--radius);
   background: #fff;
   -moz-background: rgba(0, 0, 0, 0);
   cursor: grab;
   cursor: -moz-grab;
   cursor: -webkit-grab;
}

#brightness_level_slider:active {
   cursor: grabbing;
   cursor: -webkit-grabbing;
   cursor: -moz-grabbing;
}

#brightness_level_slider::-moz-range-track {
   height: .4rem;
   border-radius: var(--radius);
   background: #000;
}

#brightness_level_slider::-moz-range-progress {
   height: .4rem;
   border-radius: var(--radius);
   background: #fff;
}

#brightness_level_slider::-moz-range-thumb {
   appearance: none;
   -moz-appearance: none;
   background: var(--brightness_level_slider_color);
   border: 0px;
   height: .85rem;
   width: 8px; /* looks better without size changing the width */
   border-radius: .2rem;
}

#brightness_level_slider::-webkit-slider-thumb {
   appearance: none;
   -webkit-appearance: none;
   background: var(--brightness_level_slider_color);
   height: .85rem;
   width: 8px;
   border-radius: .2rem;
}

/* webkit can suck my ass :)) */
/* also, firefox, fix your dumb number spinner going out of bounds */

#brush_icon_enable {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 5rem;
}

#order_selection div {
   display: flex;
}

#order_selection select {
   width: 4ch;
}

#rgb_order_label {
   display: flex;
   align-items: center;
}

#rgb_order_label > span {
   margin-left: .225rem;
}

#data_pin_selection, #clock_pin_selection {
   width: 4rem;
}

#data_pin, #clock_pin {
   width: 3ch;
}

#disable_limits_wrapper {
   width: 9rem;
}

#led_input_box {
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: center;
}

#led_input_box > div {
   display: flex;
}

#led_input_box > div > label {
   margin-right: .3rem;
}

#submit_button {
   padding: .1rem .3rem;
   margin: 0 0 0 .1rem;
   border-radius: var(--radius);
}

.color_input {
   display: flex;
   justify-content: space-between;
   width: 7.9rem;
   margin: .25rem 0;
}

.color_number_input:not(.rgb_input) {
   width: 5.5rem !important;
}

#change_all_colors {
   background: #ff0000;
   color: #fff;
}

#go_random {
   animation: rainbow 4.5s linear infinite forwards;
   background: linear-gradient(45deg, rgba(255, 0, 0, 1) 20%, rgba(0, 252, 255, 1) 46%, rgba(255, 0, 255, 1) 68%, rgba(255, 0, 0, 1) 87%);
   display: flex;
   align-items: center;
   background-size: 650%;
}

#go_random_text {
   text-shadow: 1px 1px 3px #000;
   font-size: .8rem;
   color: #fff;
}

@keyframes rainbow {
   0% {
      background-position: 0% 100%;
   }

   50% {
      background-position: 50% 50%;
   }

   100% {
      background-position: 100% 0%;
   }
}

#rgb_parenthesis_opening {
   padding-left: .2rem;
}

#rgb_inside_parenthesis {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

#rgb_inputs {
   display: flex;
}

#rgb_inputs input {
   width: 2ch;
}

.rgb_comma {
   margin-right: .5rem;
}

.rgb_input {
   width: 2rem;
   border-radius: .1rem;
}

.rgb_input:focus {
   outline: dashed 1px #000 !important;
}

#r_input {
   margin-left: 0;
}

#b_input {
   margin-right: 0;
}

#colors_section {
   height: 100%;
   display: flex;
   position: fixed;
   z-index: 420;
   width: 2rem;
   /* width: 16rem; */
   justify-content: center;
   align-items: center;
   transition: width .4s cubic-bezier(.7, 0, .45, 1), background .4s cubic-bezier(.7, 0, .45, 1), backdrop-filter .4s cubic-bezier(.7, 0, .45, 1);
   color: var(--primary_color);
}

#colors_section input {
   color: var(--primary_color) !important;
   text-align: center;
}

 #colors_section:hover {
   background: rgba(0, 0, 0, .35);
   backdrop-filter: blur(.5rem);
   width: 16rem;
}

#arrow {
   height: 100%;
   width: 2rem;
   position: absolute;
   display: flex;
   align-items: center;
   opacity: 1;
   z-index: 0;
   transition: opacity .1s cubic-bezier(.7, 0, .45, 1) .2s, transform .5s cubic-bezier(.7, 0, .45, 1);
}

#colors_section:hover > #arrow {
   opacity: 0;
}

#arrow_icon {
   background: url(../images/arrow.svg) no-repeat;
   height: 2rem;
   width: 2rem;
   background-size: cover;
   transition: opacity .4s cubic-bezier(.7, 0, .45, 1), transform .5s cubic-bezier(.7, 0, .45, 1);
   filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .85));
} 

 #colors_section > #colors_center {
   opacity: 0;
   transform: translate(-10rem, 0);
   transition: opacity .4s cubic-bezier(.7, 0, .45, 1), transform .5s cubic-bezier(.7, 0, .45, 1);
}

#colors_section:hover > #colors_center {
   opacity: 1;
   transform: translate(0rem, 0);
} 

#colors_center {
   z-index: 1;
   display: flex;
   align-items: center;
   flex-direction: column;
}

#gradients_wrapper {
   width: calc(var(--gradient_size) + 1.5rem);
   height: calc(var(--gradient_size) + 1.5rem);
   display: flex;
   cursor: crosshair;
   justify-content: center;
   align-items: center;
}

#gradients {
   width: var(--gradient_size);
   height: var(--gradient_size);
   z-index: 1003;
}

.gradient_part {
   width: var(--gradient_size);
   height: var(--gradient_size);
   position: absolute;
}

#selector {
   position: relative;
   z-index: 1004;
   left: 5rem;
   top: 5rem;
   width: var(--selector_size);
   height: var(--selector_size);
   background: #fff;
   border: #000 solid 1px;
}

#white_gradient {
   background: linear-gradient(90deg, #fff 0%, rgba(0, 0, 0, 0) 100%);
   z-index: 1001;
}

#black_gradient {
   background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
   z-index: 1002;
}

#gradient_color {
   background: #00ffff;
}

#gradients_border {
   width: calc(var(--gradient_size) + 1.5rem);
   height: calc(var(--gradient_size) + 1.5rem);
   margin-top: calc(var(--selector_size) * 2 + (var(--selector_size) / 2));
   position: absolute;
   z-index: 1000;
}

#leds {
   display: none;
   flex-direction: column;
   align-items: center;
   padding: 2rem;
   background: var(--offwhite_color);
}

#led_container_wrapper {
   overflow: auto;
   cursor: crosshair;
   max-width: 70vw;
   max-height: 70vw;
   border: solid 2px #f00;
   scrollbar-width: thin;   
}

#led_container {
   display: grid;
   grid-template-columns: 3fr;
   grid-template-rows: 3fr;
   margin: 1rem;
}

.led_box_wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.led_box {
   background: #000;
   width: 2rem;
   height: 2rem;
   font-size: .75rem;
   color: #fff;
   text-align: center;
   line-height: 2rem;
   user-select: none;
   border: 3px solid #000;
}

code {
   display: none;
   overflow: hidden;
   width: 25rem;
   height: 10rem;
   position: absolute;
   border-radius: var(--radius);
}

#code_final {
   background: #000;
   font-family: 'jetbrains mono';
   font-size: .9rem;
   width: 100%;
   height: 10rem;
   color: var(--code_color);
   border: solid 2px #000;
   overflow: auto;
}

#copy_code_background {
   cursor: grab;
   z-index: 2;
   position: absolute;
   width: 100%;
   height: 100%;
   backdrop-filter: blur(.35rem);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: opacity .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#copy_code_background:active {
   cursor: grabbing;
}

#copy_code_background button {
   padding: .1rem .3rem;
   color: #fff;
   background: var(--code_color);
}

#copy_code_background button:first-of-type {
   margin-bottom: .85rem;
}

.minimize_cb:checked ~ #copy_code_background {
   opacity: 0;
   transition: opacity .2s cubic-bezier(0.075, 0.82, 0.165, 1), z-index .3s cubic-bezier(1, 0, 0, 1);
   z-index: -1;
}

#copy_code_background > div {
   color: #fff;
   font-size: 1.2rem;
   filter: drop-shadow(0px 0px 2px #000);
   z-index: 3;
}

.minimize {
   z-index: 4;
   position: absolute;
   cursor: pointer;
   top: 10%;
   left: 90%;
   width: 1.5rem;
   height: 1.5rem;
   transition: top .2s cubic-bezier(0.075, 0.82, 0.165, 1), left .2s cubic-bezier(0.075, 0.82, 0.165, 1);
   background: rgba(0, 0, 0, .35);
   border-radius: var(--radius);
}

.cross_rotate {
   /* background: url(../images/x.svg); */
   background: url(../images/x.svg);
   background-size: contain;
   width: inherit;
   height: inherit;
   transform: rotate(0deg);
   transition: transform .45s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.minimize_cb {
   position: absolute;
   appearance: none;
   border: none;
   width: 0%;
   height: 0%;
}

.minimize_cb:checked + .minimize {
   top: 80%;
   left: 2.5%;
   transition: top .2s cubic-bezier(0.075, 0.82, 0.165, 1), left .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.minimize_cb:checked + .minimize > .cross_rotate {
   transform: rotate(45deg);
   transition: transform .45s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.custom_radio span {
   font-weight: 600;   
}

.custom_radio input[type="radio"] {
   display: none;
}

.custom_radio input[type="radio"]+label {
   position: relative;
   display: flex;
   align-items: center;
   padding-left: 1.25rem;
   line-height: .95rem;
   transition: box-shadow .185s ease-in-out;
}

.custom_radio input[type="radio"]+label::before {
   content: '';
   position: absolute;
   left: 0;
   width: 1rem;
   height: 1rem;
   margin-right: 3rem;
   border: solid .1rem #000;
   border-radius: 1rem;
   box-shadow: none;
   transition: box-shadow .185s ease-in-out;
   background: var(--offwhite_color);
}

.custom_radio input[type="radio"]+label:nth-of-type(1):after {
   content: 'strip';
   display: block;
   margin-left: .1rem;
}

.custom_radio input[type="radio"]+label:nth-of-type(2):after {
   content: 'grid';
   display: block;
   margin-left: .1rem;
}

.custom_radio input[type="radio"]+label:nth-of-type(3):after {
   content: 'custom';
   display: block;
   margin-left: .1rem;
}

.custom_radio input[type="radio"]+label:hover::before {
   transition: box-shadow .185s ease-in-out;
}

.custom_radio input[type="radio"]:checked+label::before {
   transition: box-shadow .185s ease-in-out;
   box-shadow: inset 0 0 0 .2rem var(--offwhite_color), inset 0 0 0 1000rem #000;
}

#top {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#settings_wrapper {
   display: flex;
   flex-direction: row;
}

#next_to_settings {
   margin-left: calc(.275rem /* box shadow of settings */ + .2rem);
   background: #ddd;
}

.warning {
   position: fixed;
   height: auto;
   width: 25rem;
   font-weight: 600;
   background: #f00;
   color: #fff;
   border-radius: var(--radius);
   padding: .3rem .6rem;
   display: none;
}

.warning * {
   color: #fff;
}

#current_warning {
   margin: 0 10%;
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(190deg,rgb(150, 0, 255), rgb(255, 0, 160));
   height: 5.5rem;
}

header > div {
   display: flex;
   align-items: flex-end;
}

header * {
   color: #fff;
}

header h5 {
   margin: 0 0 1.0rem .4rem;
   font-weight: 300;
   font-size: 1.2rem;
}

header a {
   font-weight: 300;
   font-family: 'jetbrains mono';
}

#leds > span {
   margin-bottom: 1rem;
}

#leds span button {
   padding: .1rem .3rem;
   color: #fff;
}

#leds span button:not(#regen_code) {
   background: rgb(255, 0, 160);
}

#regen_code {
   background: linear-gradient(90deg, rgb(150, 0, 255) 49.75%, rgb(255, 0, 160) 49.75999%);
   background-size: 200% 200%;
   background-position: 100% 0%;
   animation: anim_regen_code 2.5s cubic-bezier(.61,.77,.15,.7) infinite paused forwards;
}

@keyframes anim_regen_code {
   0% {
      background-position: 100% 0%;
   }

   0.01% {
      background-position: 100% 100%;
   }

   95% {
      background-position: 0% 0%;
   }
}

select {
   background: var(--offwhite_color);
   color: #000 !important;
   width: 6rem;
}

option {
   background: var(--offwhite_color);
   color: #000 !important;
}

footer {
   margin: auto;
   color: var(--primary_color);
}

footer label {
   display: flex;
}

footer a {
   font-family: 'jetbrains mono', monospace;
   font-size: 1.05rem;
   margin-left: .35rem;
   font-weight: 300;
   display: flex;
   align-items: center;
   color: rgb(255, 0, 160);
}

footer div {
   height: 1.05rem;
   width: 1.05rem;
   margin-left: .25rem;
   margin-bottom: .1rem;
   content: url(../images/github-icon.svg);
}

.question_wrapper {
   background: var(--offwhite_color);
   border-radius: 100rem;
   width: 1rem;
   height: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   user-select: none;
}

.question_wrapper span {
   color: #000;
}

#question_mark_bubble {
   background: var(--offwhite_color);
   border: solid 1px #000;
   width: 13.5rem;
   color: #000;
   position: fixed;
   top: 0;
   right: 0;
   padding: .1rem .35rem .135rem;
   border-radius: .5rem;
   display: none;
   z-index: 9999;
}

#upload_conf span {
   display: flex;
   justify-content: space-between;
}

.custom_input_wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.custom_input {
   background: none;
   width: 100%;
   height: calc(100% - .1rem);
   outline: none !important;
   caret-color: #fff;
   box-shadow: 0px .1rem .025rem -.025rem #999;
}

.custom_input_underline {
   background: rgb(255, 0, 160);
   height: .075rem;
   width: 0%;
   transition: width .275s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.custom_input:focus {
   border-bottom: none;
}

.custom_input:focus + .custom_input_underline {
   width: 100%;
   transition: width .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

noscript {
   width: 100%;
   height: 100%;
   z-index: 5000;
   background: #000;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

noscript a {
   color: rgb(0, 101, 184);
}

noscript a:active {
   color: rgb(49, 0, 184);
}

noscript p {
   color: #fff;
}